---
import { getStore } from "@netlify/blobs";
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";
import CaptureForm from "../../../components/CaptureForm";

export const prerender = false

const { id } = Astro.params

const store = getStore('calculator')
const savedCalculator = await store.get(id.toString(), {
    type: "json"
})
console.log({savedCalculator})

---
<style>
    body {
        color: white;
    }
    .link-card {
        color: white;
    }
</style>

<Layout title="">
    <h1>hi</h1>

    <CaptureForm stored={savedCalculator} />
    </Layout>
